{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}

{{ macro.displayArticles(articles) }}
<!-- <div>
    {% for article in articles %}
        
        <h1>TOP HEADLINES</h1>
        <a href="{{article.url}}">{{article.description | truncate(180)}}</a>
        <img src="{{article.image}}" alt="image not found" style="width:250px;height:250px;border-radius: 50%;">
        <h1>{{article.date }}</h1>
        
         <img src="{{article.urlToImage}}" alt="image not found" style="width:150px;height:150px;">
        <p>{{article.publishedAt}}</p> 
    {% endfor %}
</div> 
-->


 {% endblock %}