

     <body>
         
        <!-- Popular movie section  -->
        <h3> WELCOM TO THE NEWS HIGHLIGHT</h3>
         <ul>
            {% for business_sources in general %}
                
                <li><h2>{{ business_sources.name}}</h2></li>
                <li>{{ business_sources.id}}</li>
                <li>{{ business_sources.description}}</li>
                <li><a href ='{{ business_sources.url}}'>url</a></li>
                <li>{{ business_sources.language}}</li>
                <li>{{ business_sources.country}}</li>
               
            {% endfor %}
        

 </body>


